<div class="sidebar d-flex flex-column vh-100 border-end">
  <div class="p-3 d-flex flex-column justify-content-between align-items-center">
    <button title="Home" mat-icon-button>
      <mat-icon>home</mat-icon>
    </button>
    <button title="Private DMs" mat-icon-button>
      <mat-icon>chat</mat-icon>
    </button>
  </div>

  <div class="p-3 mt-auto">
    <div class="d-flex flex-column align-items-center gap-2">
      <button (click)="goToProfilePage()" title="{{title}}" mat-icon-button>
        <mat-icon>person</mat-icon>
      </button>
      <span></span>
    </div>
  </div>
</div>