
:root {
  --bg-color: #ffffff;
  --text-color: #212529;
  --border-color: #dee2e6;
  --chat-bubble-me: #460a43;
  --chat-bubble-other: #e9ecef;
  --sidebar-color: #460a43;
}


body.dark-theme {
  --bg-color: #091413;
  --text-color: #e1e1e1;
  --border-color: #333333;
  --chat-bubble-me: #460a43;
  --chat-bubble-other: #ffffff;
  --sidebar-color: #460a43;
}


html, body {
  height: 100%;
  background-color: var(--bg-color) !important;
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}