<div class="sidebar d-flex flex-column vh-100 border-end">
  <div class="p-3 border-bottom d-flex justify-content-between align-items-center">
    <h5 class="m-0">Inbox</h5>
    <button [routerLink]="['/home/create-conversation/']" mat-icon-button>
      <mat-icon>add_comment</mat-icon>
    </button>
  </div>

  <div class="flex-grow-1 overflow-auto">
    <mat-nav-list>

      @if (privateChats().length) {
      <div mat-subheader class="section-header">Direct Messages</div>
      @for (conv of privateChats(); track conv.id) {
      <a class="conversation-container" [routerLink]="['/home/chat', conv.id]" [state]="{ data: conv }"
        routerLinkActive="active-chat" mat-list-item>

        @if (conv.photoUrl) {
        <img matListItemAvatar [src]="imageBaseUrl + conv.photoUrl" alt="User avatar" class="avatar-border">
        } @else {
        <mat-icon matListItemIcon class="text-secondary">account_circle</mat-icon>
        }

        <div matListItemTitle class="conv-title fw-bold">
          {{ conv.title || 'Private chat' }}
        </div>

        @if (conv.unreadCount > 0) {
        <div matListItemMeta>
          <span class="badge rounded-pill bg-danger shadow-sm">
            {{ conv.unreadCount }}
          </span>
        </div>
        }
      </a>
      }
      }

      @if (groupChats().length) {
      <div mat-subheader class="section-header">Groups</div>
      @for (conv of groupChats(); track conv.id) {
      <a class="conversation-container" [routerLink]="['/home/chat', conv.id]" [state]="{ data: conv }"
        routerLinkActive="active-chat" mat-list-item>

        <mat-icon matListItemIcon>groups</mat-icon>

        <div matListItemTitle class="conv-title fw-bold">
          {{ conv.title }}
        </div>

        @if (conv.unreadCount > 0) {
        <div matListItemMeta>
          <span class="badge rounded-pill bg-danger shadow-sm">
            {{ conv.unreadCount }}
          </span>
        </div>
        }
      </a>
      }
      }

      @if (!conversationsStore.conversations()?.length && !conversationsStore.loading()) {
      <div class="p-3 text-center text-muted">
        <small>Inbox is empty.</small>
      </div>
      }

    </mat-nav-list>
  </div>

  <div class="p-3 border-top mt-auto">
    <div class="d-flex align-items-center gap-2">
      <button mat-icon-button (click)="authStore.logout()">
        <mat-icon>logout</mat-icon>
      </button>
      <span></span>
      <button mat-icon-button class="ms-auto" (click)="themeStore.toggleTheme()">
        <mat-icon>{{ themeStore.theme() === 'light' ? 'dark_mode' : 'light_mode' }}</mat-icon>
      </button>
    </div>
  </div>
</div>