<div class="chat-wrapper d-flex flex-column vh-100">

    <header class="chat-header p-3 border-bottom d-flex align-items-center bg-white">
        <mat-icon class="me-2">account_circle</mat-icon>
        <h6 class="chat-header-title m-0 fw-bold">
            {{selectedConvTitle()}}
        </h6>
    </header>

    <div #scrollContainer class="messages-container flex-grow-1 overflow-auto p-3 #scrollContainer">
        @if (chatStore.loading()) {
        } @else {
        @for (msg of chatStore.messages(); track msg.createdAt) {
        @let isMe = msg.authorUsername === authStore.currentUser()?.username;

        <div class="message-row d-flex mb-3" [class.justify-content-end]="isMe">

            <div class="message-bubble p-2 px-3 rounded-3 shadow-sm" [class.my-message]="isMe"
                [class.other-message]="!isMe">

                @if (!isMe) {
                <div class="small fw-bold mb-1 author-name">
                    {{ msg.authorUsername }}
                </div>
                }

                <div class="message-content">{{ msg.content }}</div>

                <div class="message-time text-end mt-1">
                    {{ msg.createdAt | date:'HH:mm' }}
                </div>
            </div>
        </div>
        } @empty {
        <div class="d-flex justify-content-center align-items-center h-100 text-muted">
            <p>There are no messages. Start chatting!</p>
        </div>
        }
        }
    </div>

    <footer class="chat-footer p-3 border-top bg-white">
        <form [formGroup]="sendMessageForm" (ngSubmit)="onSubmit()">
            <div class="d-flex gap-2 align-items-center w-100">
                <input formControlName="content" placeholder="Send a message..." type="text" class="chat-input flex-grow-1">
                <button mat-fab color="primary" type="submit">
                    <mat-icon>send</mat-icon>
                </button>
            </div>
        </form>
    </footer>
</div>