.chat-header {
  background-color: var(--border-color) !important;
}

.chat-header-title{
  color: var(--text-color);
}

.messages-container{
  background-color: var(--bg-color);
}

.my-message {
  background-color: var(--border-color);
  color: var(--text-color);
  border-bottom-right-radius: 4px; 
  margin-left: 50px;
}

.other-message {
  background-color: var(--border-color);
  color: var(--text-color);
  border-bottom-left-radius: 4px;
  margin-right: 50px;
}

.author-name {
  color: var(--text-color);
  font-size: 0.8rem;
  display: block;
}

.chat-footer{
  background-color: var(--border-color) !important;
}

.chat-input {
    border: 1px solid var(--border-color);
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: 25px;
    padding: 10px 20px;
    outline: none;
    transition: all 0.2s ease;
}

.chat-input:focus {
    border-color: var(--sidebar-color);
    box-shadow: 0 0 5px rgba(64, 138, 113, 0.2);
}

.chat-footer button {
    background-color: var(--sidebar-color);
    flex-shrink: 0;
    color: white;
}

.deleteChatIcon {
  color: black;
}